br {
   display: block;
   margin: 30px 0;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D2691E;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 30px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.rightupnav{
	height: 100px;
  	width: 100%;
 	position: fixed;
	top: 0;
	right: 0;
	background-color: #D2691E;
	overflow-x: hidden;
	padding-top: 20px;
}

.rightupnav a {
	float: right;
	padding:25px 40px 10px 5px;
  	text-decoration: none;
  	font-size: 25px;
  	color: #111;
  	display: block;
}

.rightupnav a:hover {
  color: #228B22;
}

.newworkTable{
	margin: auto;
	width: 60%;
	padding: 10px;
	text-align: center;
}

.newworkTable table {
	text-align: left;
	margin: auto;
	border: 2px solid #D2691E;
}