<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>Mechanic dash</h1>

		<div>
			<a th:href = "@{/home}">Back</a>
		</div>

<div class="allcars">
		
		<table>
			<thead>
				<tr>
					<th>Car Brand</th>
					<th>Car Model</th>
					<th>Car Plate</th>
					<th>Status</th>
					<th>Problem Description</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "car:${cars}">
					<td th:text = "${car.carBrand}"></td>
					<td th:text = "${car.carModel}"></td>
					<td th:text = "${car.plate}"></td>
					<td th:text = "${car.status}"></td>
					<td th:text = "${car.problemDescription}"></td>
					<td>
						<a>View</a>
					</td>
				</tr>
			</tbody>
			
		</table>
</div>

</body>
</html>