<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Work</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

	<div class="newworkTable">
	<form th:action="@{/home}" th:object = "${newcar}" method="POST">
	
		<h1>Record a new work</h1>
			<table>
			
				<tr>
					<td>Car Brand:</td>
					<td><input
					type="text"
					name="carBrand"
					th:field="*{carBrand}"
					/>
				</tr>
				<tr>	
					<td>Car Model:</td>
					<td><input
					type="text"
					name="carModel"
					th:field="*{carModel}"
					/>
				</tr>
				<tr>
					<td>Plate Number:</td>
					<td><input 
					type="text"
					name="plate"
					th:field="*{plate}"
					placeholder="XXX000"/>
				</tr>
				<tr>
					<td>Problem description:</td>
					<td><input
					type="text"
					name="problemDescription"
					th:field="*{problemDescription}"/>
				</tr>				
			
			</table>
						<div>
						 	<button>Submit</button>
						</div>
	</form>
	
	
	</div>


</body>
</html>